services:
  valkey:
    container_name: valkey
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    networks:
      - searxng
    volumes:
      - valkey-data2:/data

  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    depends_on:
      - valkey
    networks:
      - searxng
    ports:
      - 8433:8080
    environment:
      - SEARXNG_SECRET=${SEARXNG_SECRET:?Missing secret key}
    volumes:
      - ./settings.yml:/etc/searxng/settings.yml:ro
      - ./limiter.toml:/etc/searxng/limiter.toml:ro
      - searxng-data:/var/cache/searxng:rw

networks:
  searxng:

volumes:
  valkey-data2:
  searxng-data:
