services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main-slim
    volumes:
      - open-webui:/app/backend/data
    ports:
      - "3001:8080"
    restart: unless-stopped
    environment:
      - HF_HUB_OFFLINE=1
volumes:
  open-webui:
